<h1>Productos agregados vista en tiempo real con websocket</h1>

<ul>
  {{#each products}}
  <li>
    <article>
      <p>{{this.title}}</p>
    </article>
  </li>
  {{/each}}
</ul>



<script src="./index.js"></script>