<h1>Productos en stock tiempo real con websocket</h1>
<p>Auqi poner un formulario para hacer post y agregar un producto nuevo</p>
<ul>
  {{#each productsToShow}}
  <li>
    <article>
      <p>{{this.title}}</p>
    </article>
  </li>
  {{/each}}
</ul>



<script src="./index.js"></script>