body {
  background-color: rgb(0, 255, 255);
}
.article {
  border-color: black;
  border-style: solid;
  margin: 20px;
  padding: 20px;
}
li {
  font-family: sans-serif;
  font-size: large;
  font-style: italic;
  
}
.producto{
  border-color: black;
  border-style: solid;
  margin: 20px;
  padding: 20px;
  display:block;
  width: 200px;

}
#products{
  list-style-type:none;
  width:1024 ;
  display:grid

}